/* ================= BASE STYLES ================= */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  z-index: 1000;
  box-shadow: 0 2px 12px rgba(228, 226, 226, 0.5);
  backdrop-filter: blur(8px);
}

.logo {
  height: 5rem;
  width: 20rem;
  
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #00f7ff;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
  color: #00f7ff;
}

.nav-links li a:hover::after {
  width: 100%;
}

/* ================= HAMBURGER ================= */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 1100;
}

.bar {
  width: 2rem;      
  height: 0.25rem;      
  background-color: white;
  border-radius: 2px;
  transition: 0.3s ease;
  
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1.5rem;
  }

  .hamburger {
    display: flex;
    margin-left: auto;
    margin-right: 3rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
  }

  .nav-links.active {
    display: flex;
  }
  #nav-links-last {
    display: none;
  }
}

@media (max-width:361px) {
  .logo {
    width: 10rem;
    height: 3rem;
  }
}
@media (max-width:500px) {
  .logo {
    width: 12rem;
    height: 3rem;
  }
}