body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, #2f2f7d, #4b0082);
  color: white;
}

.main-container {
  text-align: center;
}



